{% extends 'base.html' %}

{% block content %}
<form action = "{{url_for('counselors.show', id=id)}}?_method=PATCH", method = 'POST'>
<h2>Edit User {{counselor.username}}</h2>

<button><a href = '{{url_for('counselors.index')}}''>Home</a></button>
<button><a href = '{{url_for('counselors.show', id=counselor.id)}}''>Back to Profile</a></button>

<ul>
{{form.hidden_tag()}}
{%  for field in form if field.widget.input_type != 'hidden' %}
	<li>
		{{field.label}}: {{field}}
		<span>
		{%  if form.errors  %}
			{%  for error in form.errors  %}
				{{error}}
			{%  endfor  %}
		{%  endif  %}
		</span>
	</li>


{%  endfor  %}
</ul>

<button type='submit'>Submit Changes</button>
</form>

<form action="{{url_for('counselors.show',id=id)}}?_method=DELETE", method='POST'>
	<button type='submit'>Delete User</button>
</form>

{% endblock %}
